body {
   background-color: #eee;
   margin: 0;
   padding: 0;
}

.content {
   box-sizing: content-box;
   width: 480px;
   padding: 15px;
   border: 1px solid #000;
}

.box {
   box-sizing: border-box;
   width: 480px;
   padding: 15px;
   border: 1px solid #000;
}
