body {
   background-color: #eee;
}

/*selecionar elementos dentro de otro elemento*/
/*seleccionar los li dentro del ul*/

/*list-style-type: square;*/
/*list-style-type: upper-roman;*/
/*list-style-type: lower-alpha;*/

ul {
   list-style-type: none;
   background-color: #fff;
   border: solid 1px #ddd;
   border-bottom: 0px;
   border-radius: 4px;
   padding-left: 0px;
}

li {
   border-bottom: solid 1px #ddd;
   padding: 15px;
}
